/* body background color*/
body{
    background-color: rgb(99, 243, 32);
}

/* div that represent user input */
#menu{
    grid-column: 1/6;
    height: 100px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

/* div that notifies the user of the results */
#answer{
    grid-column: 1/6;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

/* user input and submit button  */
#userNumber, #submit{
    height: 50px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}


/* parent div which containts the other divs */
#container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    text-align: center;
}

/* divs that represent steps */
.step{
    background-image: linear-gradient(to right, rgb(26, 6, 6) , rgb(230, 230, 204));
    border: 2px solid rgb(54, 32, 32);
    height: 100px;
    font-size: 50px;
    font-family: 'Mrs Saint Delafield', cursive;
}

/* footer  */
footer{
    text-align: center;
}


/* media query for divs that represent steps */
@media (max-width: 700px) {
    .step{
        height: 80px;
    }  
}